body {
	margin: 0;
	padding: 0;
	background-color: #f4f5f4;
	font-family: Arial, sans-serif;
}

header {
	padding: 1rem 2rem;
	background-color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #ddd;
}

.main-nav {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.site-title {
	font-weight: bold;
	font-size: 1.2rem;
}

.nav-links {
	list-style: none;
	display: flex;
	gap: 1rem;
}

.nav-links a {
	text-decoration: none;
	color: #333;
	font-weight: 500;
}

.nav-links a:hover {
	color: #536461; /* Optional hover color */
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

@keyframes slideFadeIn {
	0% {
		opacity: 0;
		transform: translateY(-20px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

h1 {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-size: clamp(2rem, 6vw, 5em);
	height: 90vh;
	margin: 0;
	padding: 0 1em;
	animation: 3s ease-in slideFadeIn;
	text-wrap: balance;
	color: #536461;
}

a {
	text-decoration: none;
	color: #000;
}

.projects {
	display: flex;
	flex-direction: column;
	gap: 2em;
	padding: 2em;
}

.project-container {
	display: flex;
	justify-content: center;
}

.project-container p,
.project-container ul {
	opacity: 0.5;
}

.project {
	display: flex;
	gap: 1em;
	max-width: 80%;
	padding: 1em;
	border-radius: 15px;
	background-color: #f2f5f0;
	transition: background-color 0.3s ease;
	border: 1px solid #7a928238;
}

.project-info {
	order: 1;
}
.project:hover {
	cursor: pointer;
	background-color: #7a9282;
}

.project img {
	border-radius: 15px;
	max-width: 60%;
	order: 2;
}

.project-highlights {
	list-style: none;
	padding-left: 0;
	margin-top: 1em;
}

.project-highlights li::before {
	content: '• ';
	color: #333;
	font-weight: bold;
	margin-right: 0.4em;
}

.project-highlights li {
	margin-bottom: 0.3em;
	font-size: 1em;
	color: #2b2a2a;
	opacity: 0.85;
}

.about-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 2em;
	max-width: 800px;
	margin: 0 auto;
}

.about {
	font-size: 1.5em;
	color: #2b2a2a;
	margin-bottom: 0.5em;
}

.about-cta {
	font-size: 1.2em;
	color: #444;
	margin-bottom: 1.5em;
}

.social-links {
	display: flex;
	gap: 1.5em;
	font-size: 2em;
	justify-content: center;
}

.social-links a {
	color: #333;
	transition: color 0.3s ease;
}

.social-links a:hover {
	color: #0077b5;
}

footer {
	text-align: center;
	opacity: 0.5;
}

@media (max-width: 768px) {
	h1 {
		font-size: 2em;
		padding: 1em;
		height: 65vh;
	}

	.projects {
		grid-template-columns: 1fr;
		padding: 1em;
		gap: 3em;
	}

	.project {
		max-width: 100%;
		flex-direction: column;
	}

	.project img {
		max-width: 100%;
		order: 1;
	}

	.about {
		font-size: 1.2em;
		text-align: center;
	}

	.about-section div {
		font-size: 1.5em;
	}
}
